/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
  font-size: 16px;
  line-height: 1.5;
  /* font-family: "Helvetice Neue", Helvetica, arial, sans-serif; */
  font-family: "BPreplay", sans-serif;
  color: #111;
  padding: 24px 24px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #E85E00;
  color: white;
  text-shadow: none;
}

::selection {
  background: #E85E00;
  color: white;
  text-shadow: none;
}
